{% extends 'base.html' %}
{% block container %}
{% if anast %}
    
    {% for count, table in anast.items() %}
    <h1 class="ui h1">{{ count }}</h1>
    <table class="ui striped table">
      <thead>
        <tr>
            <th> Type </th>
            {% for name in table.title %}
            <th>{{ name }}</th>
            {% endfor%}
        </tr>
      </thead>
      <tbody>
        {% for name, scores in table.body.items() %}
        <tr>
          <td>{{ name }}</td>
          {% for length, score in scores%}
          <td> 
                {{ score }}
          </td>
          {% endfor %}
        </tr>
        {% endfor%}
      </tbody>
    </table>
    {% endfor %}

{% endif %}
{% endblock %}